<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
			integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css"
			integrity="sha512-r9kUVFtJ0e+8WIL8sjTUlHGbTLwlOClXhVqGgu4sb7ILdkBvM2uI+n/Fz3FN8u3VqJX7l9HLiXqXxkx2mZpkvQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>{% block title %}Home{% endblock %}</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button
				class="navbar-togglerd-md-none d-lg-none d-xl-none"
				type="button"
				data-toggle="collapse"
				data-target="#navbar"
			>
				<span class="navbar-toggler-icon"> </span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<div class="navbar-nav">
					<a class="nav-item nav-link" id="home" href="/">Home</a>
					<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
					<a class="nav-item nav-link" id="login" href="/login">Login</a>
					<a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
				</div>
			</div>
		</nav>

		{% with messages = get_flashed_messages(with_categories=true) %} {% if
		messages %} {% for category, message in messages %} {% if category ==
		'error' %}
		<div class="alert alert-danger alter-dismissable fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% else %}
		<div class="alert alert-success alter-dismissable fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %} {% endfor %} {% endif %} {% endwith %}

		<div class="container">{% block content %} {% endblock %}</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"
			integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.0/umd/popper.min.js"
			integrity="sha512-PZrlUFhlOigX38TOCMdaYkhiqa/fET/Lztzjn+kdGxefUZanNUfmHv+9M/wSiOHzlcLX/vcCnmvOZSHi5Dqrsw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"
			integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<script
			type="text/javascript"
			src="{{ url_for('static', filename='index.js') }}"
		></script>
	</body>
</html>
